.container-header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #23231f;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-logo {
  width: 100%;
  text-align: center;
}

.header-logo h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-header {
    height: 60px;
  }
  .header-logo a {
    font-size: 1.4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .container-header {
    height: 80px;
  }
  .header-logo a {
    font-size: 1.6rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) {
}
